// Propriété pour le BURGER MENU
.burger-menu {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  a {
    padding: 5px;
    text-decoration: none;
    color: #3255cd;
    transition: color 0.3s ease;
  }
  a:hover {
    padding: 5px;
    background:#3255cd ;
    color: white;
  }
  input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* On cache l'input */
  z-index: 2; /* on le met par dessus le bouton */
  }
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #3255cd;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease,
                background 0.5s ease,
                opacity 0.55s ease;
  }
}

/* Transformer la forme du bouton quand on clique dessus*/
.burger-menu span:first-child {
  transform-origin: 0% 0%;
}

.burger-menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.burger-menu input:checked ~ span {
  transform: rotate(45deg) translate(-2px, -1px);
  background: #3255cd;
}

.burger-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.burger-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 94vh;
  margin-left: -15px;
  margin: auto;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translateX(-110%);
  transition: transform 0.5s ease-in-out;
  li {
    padding: 10px 0;
    font-size: 22px;
  }
}

/* Faire apparaitre le menu */
.burger-menu input:checked ~ ul {
  transform: none;
}