h2 {
  text-align: center;
  color: #3255cd
}

.stream-online {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 20px 0px 20px 15px;
  background: linear-gradient(315deg, #3255cd30, #3255cd10);
  backdrop-filter: blur(3px); 
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, #ffffff50, #3255cd50);
  a {
    text-decoration: none;
    color: #3255cd;
  }
  }

// Réponsive pour les desktop
@media (min-width: 768px) {
  .article-video {
    margin: 5px;
  }
}